/swap

/tmp
/dev
/run
/proc
/sys
/mnt
/lost+found
/root
/home

/opt/edge/mgr/.git
!/opt/edge/mgr/node_modules

*.apk-new

/edge-debug

/etc/hostname
/etc/edge/eth0mac
/etc/edge/factory-identity
/etc/ssh/ssh_host_*
/etc/*-
/etc/*.old
/etc/passwd
/etc/shadow
/etc/group
/etc/machine-id

/var/log/dmesg*
/var/log/messages*
/var/log/wtmp*
/var/log/clock
/var/log/tallylog
/var/db/sudo/lectured/*
/var/lib/misc/random-seed
/var/cache/apk/*.apk
/var/cache/apk/*.tar.gz

/var/lib/zerotier-one/*.secret
/var/lib/zerotier-one/*.public
/var/lib/zerotier-one/zerotier-one.pid
/var/lib/zerotier-one/zerotier-one.port
/var/lib/zerotier-one/peers.d/*
/var/lib/zerotier-one/networks.d/*
/var/lib/zerotier-one/controller.d/*
/var/lib/zerotier-one/planet

/var/lib/zerotier-edge
