root:$6$Zo47NBHSvNYzZdO5$OhejoyXgYwwwPGdR3zLMiexiEB0Pm3l6qe32M8U7lSA.CxM15WwMlWFnx6abO6l7oBmYtsxjNpthYKnmGPRlv/:17703:0:::::
bin:!::0:::::
daemon:!::0:::::
adm:!::0:::::
lp:!::0:::::
sync:!::0:::::
shutdown:!::0:::::
halt:!::0:::::
mail:!::0:::::
news:!::0:::::
uucp:!::0:::::
operator:!::0:::::
man:!::0:::::
postmaster:!::0:::::
cron:!::0:::::
ftp:!::0:::::
sshd:!::0:::::
at:!::0:::::
squid:!::0:::::
xfs:!::0:::::
games:!::0:::::
postgres:!::0:::::
cyrus:!::0:::::
vpopmail:!::0:::::
ntp:!::0:::::
smmsp:!::0:::::
guest:!::0:::::
nobody:!::0:::::
chrony:!:0:0:99999:7:::
messagebus:!:17401:0:99999:7:::
lldpd:!:0:0:99999:7:::
stunnel:!:17757:0:99999:7:::
arpwatch:!:17766:0:99999:7:::
svn:!:17766:0:99999:7:::
